/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s all;
}

table *, svg, path {
  transition-property: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1f2d3d;
  border-radius: 10px;
}

/* Cursor */
button, a, i, input[type="submit"], input[type="button"] {
  cursor: pointer;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  background-color: white;
  border-radius: 0.5rem; /* rounded-lg */
  padding: 1.5rem; /* p-6 */
  width: 50%; /* w-1/2 */
  max-width: 32rem; /* max-w-lg */
}
