/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s all;
}

table *, svg, path {
  transition-property: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background: #1f2d3d;
  border-radius: 10px;
}

/* Cursor */
button, a, i, input[type="submit"], input[type="button"] {
  cursor: pointer;
}

/* Popup */
.popup {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50;
}

.popup_inner {
  @apply bg-white rounded-lg p-6 w-1/2 max-w-lg;
}
